*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 580px;
    height: 190px;
    border: 1px solid #c6c8cc;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 32%;
    
}

.box-1{
    height: 30px;
}

.box-1 span{
    margin-left: 160px;
    font-size: 15px;
    font-family: Arial;
}



.box-2{
   border-top: 1px solid #c6c8cc;
   border-bottom: 1px solid #c6c8cc; 
   width: 580px;
   height: 100px;
}

.box-2 p{
    font-size: 25px;
    font-family: Arial;
    font-weight: lighter;
    margin-top: 25px;
    margin-left: 20px;

}
#start, #reset{
    border: 1px solid #c6c8cc;
    background-color: white;
    margin-left: 20px;
    width: 65px;
    height: 30px;
    margin-top: 10px;
}

#start{
    background-color: #1A73E8;
    color: white;
}

#reset:hover{
    background-color: rgb(243, 252, 249);
}